.icons .bl img {
  float: left;
  margin-top: 0%;
  width: 130px;
  margin-left: 0%;
}
.sl {
  margin-left: 50%;
  margin-right: 0%;
  padding-right: 0%;
  padding-left: 0%;
}

.icons img {
  width: 60px;
  height: 60px;
  padding: 2px;
  align-items: center;
  margin-left: 5%;
  margin-right: 2%;
}

.sl img:hover {
  background-color: blue;
}
body {
  background-color: burlywood;
}
.icons {
  background-color: rgb(181, 228, 133);
  margin-top: 1px;
  height: 90px;
}

.left {
  background-color: darkgray;
  width: 20em;
  height: 30em;
  color: white;
  font-size: 15px;
  font-style: italic;
}
.left h2 {
  margin-top: 10px;
  margin-bottom: 30px;
}

input {
  width: 250px;
  margin-top: 0%;
}
